* {
  box-sizing: border-box;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #555;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1 {
  background-size: contain;
  color: white;
  text-align: center;
  background-image: linear-gradient(60deg, red, orange);
}
.main {
  padding: 0.5em;
  display: flex;
}
.navigation {
  width: 20vw;
  display: inline-block;
}
.section {
  width: 60vw;
  font-size: 1.25em;
  line-height: 1.75em;
}
.section__header {
  font-size: 5vw;
  text-align: center;
}
.news {
  width: 20vw;
}
.units.list {
  display: flex;
}
.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125;
  font-weight: 700;
}
.nav-list {
  list-style-type: none;
  background-color: #808080;
  list-style: none;
  margin: 0;
  line-height: 2em;
  padding: 0%;
}
.nav-list-item {
  padding: 0.5em;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.nav-list-link {
  display: block;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
}
.footer {
  margin-top: auto;
  background-color: #e5e5e5;
  padding: 0.5em;
  text-align: center;
}
